.DS_Store
*~
*.pyc
._*.m
output/
output-wavelet/
output*
data/
eval/output/
.ipynb_checkpoints/
__pycache__/
hed-data.tar
recombined_no_filter/
recombined_no_filter_mat/
recombined_yes_filter/
recombined_yes_filter_mat/
recombined_no_filter_bior/
recombined_no_filter_mat_bior/
